// COLORS
:root {
   --color-opacity: 1;
   --color-primary: 140 49% 55%;
   --color-primary-light: 111 55% 64%;
   --color-primary-dark: 160 64% 43%;

   --color-secondary-light: 44 100% 50%;
   --color-secondary-dark: 21 100% 59%;

   --color-tertiary-light: 209 100% 58%;
   --color-tertiary-dark: 246 95% 62%;

   --color-grey-light-1: 0 0% 97%;
   --color-grey-light-2: 0 0% 93%;

   --color-grey-dark: 0 0% 47%;

   --color-grey-dark-2: 0 0% 60%;
   --color-grey-dark-3: 0 0% 20%;
   --color-gray-blue: 216 20% 95%;

   --color-white: 0 0% 100%;
   --color-black: 0 0% 0%;

   // FONT
   $default-font-size: 1.6rem;

   --fluid-25-60: clamp(1.5625rem, 0.767rem + 3.9773vw, 3.75rem);

   // GRID
   $grid-width: 114rem;
   $gutter-vertical: 8rem;
   $gutter-vertical-small: 6rem;
   $gutter-horizontal: 6rem;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1200,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
   /* Step -2: 12.5px → 12.8px */
   --step--2: clamp(0.7813rem, 0.7744rem + 0.0341vw, 0.8rem);
   /* Step -1: 15px → 16px */
   --step--1: clamp(0.9375rem, 0.9148rem + 0.1136vw, 1rem);
   /* Step 0: 18px → 20px */
   --step-0: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
   /* Step 1: 21.6px → 25px */
   --step-1: clamp(1.35rem, 1.2727rem + 0.3864vw, 1.5625rem);
   /* Step 2: 25.92px → 31.25px */
   --step-2: clamp(1.62rem, 1.4989rem + 0.6057vw, 1.9531rem);
   /* Step 3: 31.104px → 39.0625px */
   --step-3: clamp(1.944rem, 1.7631rem + 0.9044vw, 2.4414rem);
   /* Step 4: 37.3248px → 48.8281px */
   --step-4: clamp(2.3328rem, 2.0714rem + 1.3072vw, 3.0518rem);
   /* Step 5: 44.7898px → 61.0352px */
   --step-5: clamp(2.7994rem, 2.4301rem + 1.8461vw, 3.8147rem);

   /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1200,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

   /* Space 3xs: 5px → 5px */
   --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
   /* Space 2xs: 9px → 10px */
   --space-2xs: clamp(0.5625rem, 0.5398rem + 0.1136vw, 0.625rem);
   /* Space xs: 14px → 15px */
   --space-xs: clamp(0.875rem, 0.8523rem + 0.1136vw, 0.9375rem);
   /* Space s: 18px → 20px */
   --space-s: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
   /* Space m: 27px → 30px */
   --space-m: clamp(1.6875rem, 1.6193rem + 0.3409vw, 1.875rem);
   /* Space l: 36px → 40px */
   --space-l: clamp(2.25rem, 2.1591rem + 0.4545vw, 2.5rem);
   /* Space xl: 54px → 60px */
   --space-xl: clamp(3.375rem, 3.2386rem + 0.6818vw, 3.75rem);
   /* Space 2xl: 72px → 80px */
   --space-2xl: clamp(4.5rem, 4.3182rem + 0.9091vw, 5rem);
   /* Space 3xl: 108px → 120px */
   --space-3xl: clamp(6.75rem, 6.4773rem + 1.3636vw, 7.5rem);

   /* One-up pairs */
   /* Space 3xs-2xs: 5px → 10px */
   --space-3xs-2xs: clamp(0.3125rem, 0.1989rem + 0.5682vw, 0.625rem);
   /* Space 2xs-xs: 9px → 15px */
   --space-2xs-xs: clamp(0.5625rem, 0.4261rem + 0.6818vw, 0.9375rem);
   /* Space xs-s: 14px → 20px */
   --space-xs-s: clamp(0.875rem, 0.7386rem + 0.6818vw, 1.25rem);
   /* Space s-m: 18px → 30px */
   --space-s-m: clamp(1.125rem, 0.8523rem + 1.3636vw, 1.875rem);
   /* Space m-l: 27px → 40px */
   --space-m-l: clamp(1.6875rem, 1.392rem + 1.4773vw, 2.5rem);
   /* Space l-xl: 36px → 60px */
   --space-l-xl: clamp(2.25rem, 1.7045rem + 2.7273vw, 3.75rem);
   /* Space xl-2xl: 54px → 80px */
   --space-xl-2xl: clamp(3.375rem, 2.7841rem + 2.9545vw, 5rem);
   /* Space 2xl-3xl: 72px → 120px */
   --space-2xl-3xl: clamp(4.5rem, 3.4091rem + 5.4545vw, 7.5rem);

   /* Custom pairs */
   /* Space s-l: 18px → 40px */
   --space-s-l: clamp(1.125rem, 0.625rem + 2.5vw, 2.5rem);
}

/* @link https://utopia.fyi/clamp/calculator?a=320,1200,30—60 */

:root {
   --fluid-30-60: clamp(1.875rem, 1.1932rem + 3.4091vw, 3.75rem);
}
