.container {
   // width: 85vw;
   // margin-inline: auto;
   width: clamp(1px, 90vw, 1200px);
   margin-inline: auto;
   padding-left: 1rem;
   padding-inline: 1rem;
   position: relative;
}
.slice {
   padding-block: 80px;
}

.text-center {
   text-align: center;
}

.flex-1 {
   flex: 1;
}
.margin-top-huge {
   margin-top: 30px;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border-width: 0;
}

// .flex {
//    display: flex;
// }

// .items-center {
//    align-items: center;
// }

// .justify-between {
//    justify-content: space-between;
// }

// .gap-32 {
//    gap: 2rem;
// }
