@use '../../abstracts' as *;

.tours-section {
   background-color: hsl(var(--color-gray-blue));
   &_con {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-content: center;

      // padding: 10px 70px;
   }

   // &_con :not(:last-child) {
   //    margin-bottom: 22px;
   // }
}
