.tours-section {
   background-color: hsl(var(--color-gray-blue));
   &_con {
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 30px;
   }
}
